.icon-con {
    display: flex;
}

.icon-con p {
    display: flex;
    align-items: center;
}

.temp-today p {
    font-size: 5em;
    padding: 0;
    margin: 0;
    line-height: 2rem;
}

.feels-today p {
    font-size: 20px;
    padding: 0;
    margin: 0;
    line-height: 5rem;
}

.more-today {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px 0 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    line-height: 12px;
}

/* .more-today div:nth-child(1) {
    margin-left: 1rem;
    margin-right: 9rem;
} */

@media screen and (max-width: 420px) {
    .weather-today-con {
        text-align: center;
    }

    .more-today {
        text-align: left;
    }

    .icon-con {
        width: 100%;
        justify-content: center;
    }
}